table(style = {width: "100%"})
 tr
  each val, index in columns
   th #{index}
 each school in schools
  tr
   form action="htpp://test"
    each val, index in school
     td     
      input(type='text', name= index, id= index,  onchange="onChange(event, this)", value= val)
    td
     button SUBMIT

script(src="JavaScript/schoolInput.js")